# Only useful in development
output/logs/out.log.txt
build/
*.exe

# Downloadable with the tool
all-authorities.csv


# The tool is meant to generate this
data/generated-dataset.json
data/generated-dataset-offline.json

